@import '../pageHead/pageHead.scss';
@import '../pageContent/pageContent.scss';
@import '../pageFooter/pageFooter.scss';
@import "../../../styles/variables";


.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: $main-block-width;
}


.mainWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }