@import './mainpageHead/mainPageHead.scss';
@import 'mainPageContent.scss';
@import 'mainPageFooter.scss';



.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}