@import "pages/mainPage/mainPage.scss";
@import "components/components.scss";

$white-color-text: rgb(207, 211, 214);
$red-color-text: rgb(226, 40, 86);
$grey-color: rgb(70, 71, 71);
$black-color: rgb(20, 20, 20);
$main-block-width: 100em;
$center-block-width: 75em;
$searchFieldPadding: 3em;

%button {
  color: $white-color-text;
  border: none;
  border-radius: 0.2em;
  margin: 2em 0em 1em 1em;
  padding: 1em 1em 1em 1em;
}

.mainContainer {
  width: $main-block-width;
}

.searchResultContainer {
  width: $main-block-width;
 }

 .itemCover {
  min-height: 0.4*$main-block-width;
  }

  .itemWrapper
  {
    width: 0.25*$main-block-width;
    margin: 0.035*$main-block-width;
}

.itemTextDescription
{
  margin: 0.035*$main-block-width;
}

.coverImage{
  width: 0.25*$main-block-width;
  height: 0.4*$main-block-width;
}

.mainWrapper {
  display: flex;
  justify-content: center;
}

.noItemsSearched{
  color: $grey-color;
}

//text in search panel anotation
.searchAnotation,
.searchBy {
  color: $white-color-text;
}

.searchField input {
  border-color: $red-color-text;
  color: $white-color-text;
}
.logo {
  color: $red-color-text;
}

.searchButton,
.sortByTitleButton,
.sortByDirectorButton {
  @extend %button;
  background-color: $grey-color;
}

.sortByTitleButtonChosed,
.sortByDirectorButtonChosed {
  @extend %button;
  background-color: $red-color-text;
}

.searchButton {
  background-color: $red-color-text;
  padding: 1em 2em 1em 2em;
}

.bottomPageHeadBackgroundImg,
.releaseData,
.popularity,
.itemTitle,
.leftTextBottomPageHead,
.sortBlock,
.sortByReleaseDate,
.sortByRating {
  color: $black-color;
}

.selectedSortByReleaseDate,
.selectedSortByRating {
    color: $red-color-text;
    font-weight: 900;
}

.popularity,
.itemTitle,
.leftTextBottomPageHead,
.sortBlock,
.sortByReleaseDate,
.sortByRating {
    font-weight: 900;
}

.releaseData {
  border: solid 1px $black-color;
}

.searchField,
.textBottomPageHead,
.logoFooterContainer {
  width: $center-block-width;
}

.searchField input {
  margin-top: 3em;
  padding: 1em 1em 1em ;
  height: 40px;
  min-width: 100%;
  box-sizing:border-box;
  
}

.itemDetailsTitle{
    color: $red-color-text;
}

.releaseDateItem,
.tagLine,
.overview,
.budget

{
  color: $white-color-text;
}

.backToSearchElement {
  color: $red-color-text;
}