@import '../mainpageHead/mainPageHead.scss';
@import '../mainPageContent/mainPageContent.scss';
@import '../mainPageFooter/mainPageFooter.scss';
@import "../../../styles/variables";


.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: $main-block-width;
}

// @media (max-width:1050px){
//     .mainContainer {
//        max-width: $main-block-width;
//     } 
// }

.mainWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }