@import '../mainpageHead/mainPageHead.scss';
@import '../mainPageContent/mainPageContent.scss';
@import '../mainPageFooter/mainPageFooter.scss';



.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}