@import "../../../style/variables";

.wrapperContainer {
  display: flex;
  justify-content: center;
}

.topPageHeadBackgroundImg {
  background-image: url("/src/assets/images/wrapperImg.png");
  display: flex;
  flex-direction: column;
}

.bottomPageHeadWrapper {
  background-image: url("/src/assets/images/wrapperFooterImg.png");
  background-color: rgba(207, 211, 214, 0.5);
  min-height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textBottomPageHead {
  display: flex;
  justify-content: space-between;
  padding: 0 0.17 * $center-block-width 0 0.17 * $center-block-width;
}
.textBottomPageHeadWrapper{
  width: 100%;
}


.rightTextBottomPageHead{
    display: flex;
    justify-content: space-between;
    min-width: 20%;
}

.valueFoundLeftTextBottonPageHead{
    margin-right: 0.5em;
}

.selectedSortByReleaseDate,
.selectedSortByRating {
  color: $red-color-text;
  font-weight: 900;
}

.sortByReleaseDate, .sortByRating {
  margin-left: 0.01 * $center-block-width;
}