@import "../../../styles/variables";

.mainPageContentWrapper{
  display: flex;
  justify-content: center;
}

.searchResultContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: $main-block-width;
}

