
@import "../../../styles/variables";
@import "../../../styles/fonts-styles.scss";

.itemDescription {
  display: flex;
  flex-direction: column;
  width: 85%;
}



.itemTextDescription {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.035 * $main-block-width;
}



.bottomItemTextWrapper {
  padding-top: 1vw;
  margin: 0.5vw;
}
////


.topLineTextItem {
  display: flex;
  justify-content: space-between;
}



.backToSearchButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3vw;
}

.itemContentBlock {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: flex-start;
}



.titleItemBlock {
  display: flex;
  align-items: center;
  margin-bottom: 1vw;
}

.itemCover {
  min-height: 0.4 * $main-block-width;
}